<?xml version="1.0"?>
<launch>
    <!--include file="$(find drinking_assistant)/launch/drink_motion.launch" /-->


    <arg name="name"/>

    <arg name="user"/>

    <arg name="algorithm" default="pi" />

    <node pkg="rosbag" type="record" name="rosbag_record" args="-a -o /media/tejas/Elements/post_development_study/rosbags/$(arg user)/policy_$(arg name)" />
    <node pkg="drinking_assistant" type="data_extractor" name="data_extractor" args="$(arg user) policy_$(arg name)" output="screen"/>

    <node name="feeder_policy_drive" pkg="drinking_assistant" type="feeder_policy_drive"
        args="$(find drinking_assistant)/resources/PI_pi_star.csv $(find drinking_assistant)/resources/VI_pi_star.csv
        $(find drinking_assistant)/resources/Q_policy.csv $(find drinking_assistant)/resources/SARSA_policy.csv $(arg algorithm)" output="screen"/>



</launch>
