<?xml version="1.0"?>
<launch>

<arg name="episodes" default="400" />

	<!-- Start the service server first -->
  <node pkg="drinking_assistant" type="robot_emulator_server.py" name="emulator_service" />
  <node pkg="drinking_assistant"
        type="feeder_q_training.py" 
        name="q_training" 
        args="$(find drinking_assistant)/resources/Q_table.csv $(find drinking_assistant)/resources/Q_policy.csv $(arg episodes) $(find drinking_assistant)/resources/Q_performance.csv"
        output="screen" />

</launch>
